<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Submit Sujav / Shikayat</h2>
                    <form #suggestionForm="ngForm" (ngSubmit)="onSubmit(suggestionForm)">
                        <!-- <div class="form-group">
                            <label for="code">Code</label>
                            <input type="text" id="code" class="form-control" [(ngModel)]="code" name="code" required>
                        </div> -->
                        <div class="form-group">
                            <label for="suggestion">Sujav / Shikayat</label>
                            <textarea id="suggestion" class="form-control" [(ngModel)]="suggestion" name="suggestion" required></textarea>
                        </div>
                        <h3 class="text-center">Personal Details</h3>
                        <div>
                            <div class="form-group">
                                <label for="armyNo">Army No</label>
                                <input type="text" id="armyNo" class="form-control" [(ngModel)]="armyNo" name="armyNo">
                            </div>
                            <div class="form-group">
                                <label for="companyName">Company Name</label>
                                <input type="text" id="companyName" class="form-control" [(ngModel)]="companyName" name="companyName">
                            </div>
                            <div class="form-group">
                                <label for="mobileNumber">Mobile Number</label>
                                <input type="text" id="mobileNumber" class="form-control"  pattern="^[0-9]{10}$" maxlength="10" [(ngModel)]="mobileNumber" name="mobileNumber">
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="checkbox" class="form-check-input" [(ngModel)]="isAnonymous" name="isAnonymous" (change)="onSelectAnonymous($event)">
                            <label class="form-check-label" for="isAnonymous">Anonymous</label>
                        </div>
                        
                        <div class="text-right button-container">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="#" (click)="cancel()" class="btn btn-secondary ml-2">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3" *ngIf="successMessage"> 
    <div class="alert alert-success" role="alert">
      {{ successMessage }}
    </div>
</div>


 