<div class="container main-container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title text-center">Sujav / Shikayat</h2>
          <div class="text-center">
            <button class="btn btn-primary mt-3" (click)="goToSuggestion('Commanding Officer')">Commanding Officer</button>
            <button class="btn btn-primary mt-3 btn-spacing" (click)="goToSuggestion('Company Commander')">Company Commander</button>
          </div>
          <div class="row justify-content-center mt-3">
            <div class="col-md-6 text-center">
              <a href="#" (click)="goBack()" class="btn btn-secondary">Back</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
